/* reset default browser behaviour */
body, header, nav, footer, aside, section, h1, h2, h3, h4, h5, h6, p, div, img, ul, ol, li, table, tr, td, a {
        margin:0;
        padding:0;
}

// global variables
$color1: #ead8ab; // Creme
$color2: #c46c44; // Orange
$color3: #1e3226; // Dark Green
$color4: #a19f80; // Light Grey
$color5: #7a9179; // Medium Grey


body{
  font-family: helvetica;
  font-stretch: expanded;
  background-color: $color1;
  text-decoration-color: $color3;
}

header{
  position: relative;
  text-align: center;
  font-size: 18pt;
  padding: 2%;
  margin-bottom: 35%;
}

nav{
  margin-bottom: 10px;
  ul{
    list-style-type: none;
  }
  li{
    margin: 2%;
    list-style-type: none;
  }
  a.main-nav:link{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
    background-color: $color4;
    padding: 5%;
  }
  a.main-nav:hover{
    background-color: $color5;
  }
  a.main-nav:visited{
    color: black;
  }
}

fieldset{
  margin : auto;
  border: white;
}

div {
  padding-bottom: 10px;
}


footer {
  clear: both;
  background-color: $color3;
  margin-top: 20%;

  ul{
    list-style-type: none;
    margin: 0px;
    text-align: center;
    li{
      a:link{
        padding: 5%;
        font-size: 30px;
        text-decoration: none;
        // text-align: center;
        // color: $color5;
        display: block;
      }
      a:hover{
        background-color: $color2;
        color: $color3;
      }
      a:visited{
      }
    }
  }
}
//
//
// /********
// Class rules
// **********/
//
.wrapper{
  width:100%; /* container now always occupies x% of browser window */
  min-width:250px; /* of the div */
  max-width:1100px;
  margin:auto; /* computes (window size - width) /2 and pads each side */
  // padding:10px;
}

.clearer {
  clear: both;
}


// div.hide-me {
//   display: none;
// }
//
// fieldset.db-mealplan-list h2 h3 {
//   color: transparent;
//   cursor: pointer;
//   text-shadow: 0 0 0 #000;
// }
//
// h3:focus + div.hide-me {
//   display: block;
// }
//
// h2:focus + div.hide-me {
//   display: block;
// }

// /*********
// ID rules
// *********/
// //
// // #add-meal-form{
// //   width:45%;
// //   // float : left;
// //
// // }
// //
// //
// // #db-meal-list{
// //   width: 45%;
// //   // float: left;
// // }
